<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/c7362184-364e-4118-92b7-8a78170224a1/resourcegroups/DefaultResourceGroup-CUS/providers/Microsoft.Web/sites/Merit</ResourceId>
    <ResourceGroup>DefaultResourceGroup-CUS</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://merit.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>a15cfec6-3b68-460d-8e66-e7a9dd369452</ProjectGuid>
    <PublishUrl>https://merit.scm.azurewebsites.net/</PublishUrl>
    <UserName>$Merit</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>